{% extends base_template %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block timesheet_app_content %}
    {% include 'timesheet/_dashboard_content.html' %}
{% endblock %}

{# For standalone bases that expect `content`, provide a thin passthrough. If a parent
   defines `content` this block will not be used; otherwise this gives compatibility. #}
{# `content` passthrough is removed to avoid duplicate block definitions; standalone
    wrapper will place the partial into `content`. #}
